@charset "UTF-8"
@font-face {
    font-family: 'Bebas Neue';
    src: url("../fonts/BebasNeue-Regular\ -\ Copia.otf") format("opentype");
}
:root {
    --cor0: #c5ebd6;
    --cor1: #83E1AD;
    --cor2: #3DDC84;
    --cor3: #2FA866;
    --cor4: #1A5C37;
    --cor5: #063D1E;
    --fonte0: Arial, Helvetica, sans-serif;
    --fonte1: 'Bebas Neue', cursive;
    --fonte2: 'Android', sans-serif;
}
body {
    font-family: var(--fonte0);
    color: var(--cor0);
    background-color: var(--cor1)
}
h1 {
    font-family: var(--fonte1);
    margin: 0px;
    text-align: center;
    text-shadow: 2px 1px 2px black;
}
header {
    background-image: linear-gradient(var(--cor3), var(--cor5))
}
/*MENU*/
nav {
    background-color: var(--cor2);
}
nav ul {
    list-style: none;
}
nav ul li {
    display: inline-table;
}
main {
    background-color: gold;
    min-width: 400px;
    max-width: 800px;
}
article {
    background-color: var(--cor4);
}
aside {
    background-color: skyblue;
}
footer {
    background-color: white;
}
